@CHARSET "UTF-8";

#MenuDom {
    height: auto;
    position: absolute;
    top: -1px;
    width: 100%;
}

.divul {
    background: none repeat scroll 0 0 #4D4D4D;
    display: none;
}

.menudiv {
    border-bottom: 1px solid #222222;
    border-top: 1px solid #414141;
    cursor: pointer;
    height: 29px;
    position: relative;
    top: 0;
    width: 100%;
}

.menuimg {
    left: 11px;
    position: absolute;
    top: 3px;
    width: 20px;
}

.menuspan {
    color: #C6C5C5;
    font-size: 15px;
    left: 37px;
    overflow: hidden;
    position: absolute;
    right: 31px;
    text-overflow: ellipsis;
    top: 6px;
    white-space: nowrap;
}

.menuimgfoot {
    position: absolute;
    right: 16px;
    top: 7px;
}

.childmenu {
    cursor: pointer;
    height: 30px;
    left: 0;
    position: relative;
}

.childmenu:hover{
	background: none repeat scroll 0 0 #626060;
}

.childmenuimg {
    left: 19px;
    position: absolute;
    top: 8px;
    width: 15px;
}

.childspan {
    border-bottom: 1px solid #3E3E3E;
    bottom: -1px;
    color: #BCBCBC;
    font-size: 14px;
    left: 40px;
    overflow: hidden;
    position: absolute;
    right: 2px;
    text-overflow: ellipsis;
    top: 7px;
    white-space: nowrap;
}

.childshow{
	display:block;
}